[package]
name = "rust-url"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["staticlib"]

[dependencies]
url = "2.5.0"

[profile.release]
lto = true
panic = 'abort'

[profile.dev]
panic = 'abort'
