# Integration Tests build output
/integration-tests/**/fixtures/**/*.tar.gz
/integration-tests/**/fixtures/**/fastly.toml
/integration-tests/**/fixtures/**/*.wasm

/reference-docs/
/compute-js/
node_modules/
.DS_Store
/dist
# *.o
# *.d
/rusturl/
# compiler_flags
/js-compute-runtime.wasm
