[submodule "tests/wpt-harness/wpt"]
	path = tests/wpt-harness/wpt
	url = https://github.com/web-platform-tests/wpt.git
	shallow = true
[submodule "runtime/StarlingMonkey"]
	path = runtime/StarlingMonkey
	url = git@github.com:bytecodealliance/StarlingMonkey
