# Integration Tests build output
/integration-tests/**/fixtures/**/*.tar.gz
/integration-tests/**/fixtures/**/fastly.toml
/integration-tests/**/fixtures/**/*.wasm

/runtime/fastly/build-*/

node_modules/
.DS_Store
# compiler_flags
/fastly-weval.wasm
/fastly.debug.wasm
/fastly.wasm
/fastly-ics.wevalcache
tests/wpt-harness/wpt-test-runner.js
wpt-runtime.wasm
docs-app/bin/main.wasm
docs-app/pkg/*.tar.gz

yarn-error.log
.vscode