name: 'Cleanup'
on: workflow_dispatch
permissions:
  contents: read
env:
  fastly-cli_version: 13.1.0
jobs:
  cleanup:
    name: Cleanup
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
    - run: cd ./integration-tests/js-compute && npm install
    - name: Set up Fastly CLI
      uses: fastly/compute-actions/setup@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        cli_version: ${{ env.fastly-cli_version }}
    - run: node integration-tests/js-compute/cleanupAll.js
      env:
        FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}
